.roundImg{
    border-radius: 50%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid rgba(145, 145, 145, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.centerDiv{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}
.squareImg{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid rgba(145, 145, 145, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}