<template>

  <div class="parallaxOuter">
    <div class="parallax" style={myImage}>
      <div class="overlay" style={myOverlay}></div>
      <div class="textBox" style={myTextColor}>
        {mainTitle}
      </div>

    </div>
  </div>

</template>