<template>
    <lightning-input-rich-text label={label} class="myInput" npm value={richTextValue}>
    </lightning-input-rich-text>
    <div class="slds-p-top_small">
        <lightning-button style="float:right" label="Save text" onclick={handleClick} variant="brand">
        </lightning-button>
    </div>
</template>