<template>
    <div class="slds-p-horizontal_small create_event_tabs">
      <template if:true={recordId}>
        <div class="slds-p-around_small">
          <c-lwc-flow-progress-indicator steps="1. Información de la cita, 2. Disponibilidad horaria, 3. Resumen cita" current-step="step-0"></c-lwc-flow-progress-indicator>
        </div>
      </template>
      <template if:false={isRecordTypeSelected}>
          <lightning-radio-group class="slds-p-top_medium slds-p-left_medium" name="radioGroup" label="Tipo de Evento" options={recordTypeOptions}
            value={recordTypeSelected} type="radio" onchange={handleRecordTypeChange} required></lightning-radio-group>
      </template>
      <template if:true={isRecordTypeSelected}>
        <div class="slds-m-horizontal_none slds-m-top_x-small">
          <div class="slds-p-left_small">
            <lightning-badge label={recordTypeSelectedLabel}></lightning-badge>
          </div>
          <lightning-layout multiple-rows>
            <lightning-layout-item size="6">
              <lightning-input type="date" name="input1" label="Seleccione una fecha" class="slds-m-top_small slds-m-right_x-small slds-m-left_x-small"
                value={startDate} onchange={handleDateChange} required></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6">
              <div class="slds-m-right_x-small slds-m-left_x-small slds-m-top_small">
                <template if:true={recordId}>

                  <template if:true={leadRecord}>
                    <c-als_lwc-reusable-lookup label="Paciente potencial" object-name="Lead"  field-name="Name" fields="Phone"
                      key-field="Id" icon-name="standard:lead" onrecordchange={handleAccountChange} selected-value={recordId}>
                    </c-als_lwc-reusable-lookup>
                  </template>
                  <template if:false={leadRecord}>
                    <c-als_lwc-reusable-lookup label="Paciente relacionado" object-name="Account"  field-name="Name" fields="Phone"
                      key-field="Id" icon-name="standard:account" onrecordchange={handleAccountChange} selected-value={recordId}>
                    </c-als_lwc-reusable-lookup>
                  </template>

                </template>
                <template if:false={recordId}>
                  <c-als_lwc-reusable-lookup label="Agenda asignada" object-name="ALS_Agenda__c"  field-name="Name" fields="Type__c"
                  key-field="Id" icon-name="standard:user" onrecordchange={handleAgendaChange} selected-value={mainAgenda}></c-als_lwc-reusable-lookup>
                </template>
              </div>
            </lightning-layout-item>
            <lightning-layout-item size="6">
              <lightning-input type="time" class="slds-m-right_x-small slds-m-left_x-small slds-m-top_small" name="input2" onchange={handleStartHourChange}
                label="Hora de Inicio" value={startHour} min="08:00:00.000Z" max="22:00:00.000Z" required>
              </lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="6">
              <lightning-input type="time" class="slds-m-right_x-small slds-m-left_x-small slds-m-top_small" name="input3" label="Hora de Finalización"
                value={endHour} onchange={handleEndHourChange} min={startHour} max="22:00:00.000Z" required>
              </lightning-input>
            </lightning-layout-item>

            <template for:each={__fields} for:item="field">
              <lightning-layout-item size={field.size} key={field.apiName}>
                <div class="slds-m-right_x-small slds-m-left_x-small slds-m-top_small">
                  <!-- TEXT / EMAIL -->
                  <template if:true={field.showText}>
                    <label for={field.apiName} class="slds-form-element__label">{field.label}</label>
                    <input type={field.type} id={field.apiName} onchange={handleFieldChange} class="slds-input" required={field.required}/>
                  </template>
                  <!-- TEXT AREA -->
                  <template if:true={field.showTextArea}>
                    <lightning-textarea id={field.apiName} label={field.label} placeholder={field.placeholder} onchange={handleFieldChange} required={field.required}></lightning-textarea>
                  </template>
                  <!-- LOOK UP -->
                  <template if:true={field.showLookUp}>
                    <c-als_lwc-reusable-lookup label={field.label} object-name={field.objectName}  field-name={field.fieldName} id={field.apiName}
                      key-field={field.keyField} icon-name={field.iconName} onrecordchange={handleFieldChange}></c-als_lwc-reusable-lookup>
                  </template>
                  <!-- PICKLIST -->
                  <template if:true={field.showPickList}>
                    <lightning-combobox label={field.label} placeholder={field.placeholder} value={field.value} options={field.options}
                      id={field.apiName} disabled={field.disabled} onchange={handleFieldChange} required={field.required}></lightning-combobox>
                  </template> 
                  <!-- MULTIPICKLIST -->
                  <template if:true={field.showMultiPickList}>
                    <c-als_multi-pick-list label={field.label} id={field.apiName} options={field.options} onitemselected={handleFieldChange}></c-als_multi-pick-list>
                  </template>                
                </div>                
              </lightning-layout-item>
            </template>
            <lightning-layout-item size="12">
              <lightning-input class="slds-m-right_x-small slds-m-left_x-small slds-m-top_small" name="subject" label="Asunto de la cita"
                value={subject} onchange={handleSubjectChange} required >
              </lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12">
              <div class="slds-m-right_x-small slds-m-left_x-small slds-m-top_small">
                <lightning-textarea id="Description" label="Comentarios adicionales" placeholder="Indique los comentarios adicionales..." onchange={handleFieldChange}></lightning-textarea>
              </div>
            </lightning-layout-item>
          </lightning-layout>
        </div>
      </template>
    </div>
  </template>