<template>
    <div class="slds-p-around_small">
        <lightning-input type="color" name="input-color" label={selectorLabel} value={currentColor} onchange={changeColor}></lightning-input>
    </div>
</template>