<template>
  <div class="slds-form-element">
    <div class="slds-form-element__control">
      <div class="slds-combobox_container">
        <div
          class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
          aria-expanded="true"
          aria-haspopup="listbox"
          role="combobox"
        >
          <div
            class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
            role="none"
          >
            <div>
              <lightning-input
                label={label}
                type="search"
                placeholder={placeHolder}
                value={selectedRecord}
                onchange={handleKeyUp}
              >
              </lightning-input>
            </div>
          </div>
          <div
            id="listbox-id-3"
            class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid lookup_list slds-hide"
            role="listbox"
          >
            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
              <li role="presentation" class="slds-listbox__item">
                <div
                  aria-selected="true"
                  id="option0"
                  class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_term slds-has-focus"
                  role="option"
                >
                  <span class="slds-media__figure slds-listbox__option-icon">
                    <span
                      class="slds-icon_container slds-icon-utility-search"
                      title="Search for term: "
                    >
                      <lightning-icon
                        icon-name="utility:search"
                        alternative-text="search"
                        size="x-small"
                      ></lightning-icon>
                      <span class="slds-assistive-text">Search for term: </span>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span
                      class="slds-listbox__option-text slds-listbox__option-text_entity"
                      >{searchValue}</span
                    >
                  </span>
                </div>
              </li>
              <template if:true={options}>
                <template if:false={loaded}>
                  <lightning-spinner
                    variant="brand"
                    size="small"
                    alternative-text="Loading"
                  >
                  </lightning-spinner>
                </template>
                <template if:true={loaded} for:each={options} for:item="rec">
                  <li
                    role="presentation"
                    class="slds-listbox__item"
                    key={rec.key}
                    onmousedown={handleOptionSelect}
                    data-id={rec.key}
                    data-name={rec.value}
                  >
                    <div
                      aria-selected="true"
                      id={rec.key}
                      class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                      role="option"
                      tabindex="0"
                    >
                      <span
                        class="slds-media__figure slds-listbox__option-icon"
                      >
                        <span class="slds-icon_container">
                          <lightning-icon
                            size="small"
                            icon-name={iconName}
                            alternative-text="Approved"
                            title="Approved"
                          ></lightning-icon>
                        </span>
                      </span>
                      <span class="slds-media__body">
                        <span
                          class="slds-listbox__option-text slds-listbox__option-text_entity slds_optiontxt"
                          style="font-weight: 600"
                          >{rec.value}</span
                        >
                        <template if:true={recordFound}>
                          <span class="slds-listbox__option-meta"
                            >{rec.subtitle}</span
                          >
                        </template>
                      </span>
                    </div>
                  </li>
                </template>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>