<template>
  <lightning-card class="slds-m-bottom_small" title={panelTitle}>
    <template if:true={loaded}>
      <img class={cssClass} aria-hidden="true" src={photoUrl} width={size} />
    </template>
    <template if:false={loaded}>
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <div slot="footer">
      <template if:true={newPhoto}>
        <lightning-file-upload label={uploadLabel} name="fileUploader" accept={acceptedFormats} record-id={recordId}
          onuploadfinished={handleUploadFinished} multiple>
        </lightning-file-upload>
      </template>
      <template if:false={newPhoto}>
        <div class="centerDiv">
          <lightning-button label="Upload picture" variant="brand" onclick={showNewPhotoUploader}></lightning-button>
        </div>
      </template>
    </div>
  </lightning-card>
</template>