<template>
  <template if:true={pluginLoaded}>
    <lightning-card style="height: 1000px; width: 1500px">      
      <lightning-layout horizontal-align="spread" vertical-align="center">
        <lightning-layout-item padding="around-x-small" size={filtersSize}>
          <lightning-layout class="slds-p-around_small"  multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
              <div onclick={toggleShowFilters} class="slds-page-header cursor-pointer" style="width: 100%;">
                <!-- standard:filter_criteria -->
                <lightning-icon icon-name="utility:filterList" style="margin-right: 12px; margin-bottom: 5px;" size="x-small"
                  alternative-text="Filtros" title="Filtros"></lightning-icon>
                <b>{calendarFilters}</b>
                <lightning-icon icon-name={filterIcon} style="padding-left: 12px; padding-bottom: 5px;" size="xx-small"
                  alternative-text="Mostrar leyenda" title="Mostrar Leyenda"></lightning-icon>
              </div>
            </lightning-layout-item>
            <template if:true={showFilters}>
              <lightning-layout>
                <lightning-layout-item flexibility="auto, no-grow" padding="around-small">
                  <lightning-input type="date" date-style="short" name="input1" label="Seleccione una Fecha" value={selectedDate} onchange={dateChanged}> </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto, no-grow" padding="around-small">
                  <c-als_multi-pick-list label="Agendas" options={agendaList} showclearbutton=false showfilterinput=true
                    showrefreshbutton=true onitemselected={agendasChanged}>
                  </c-als_multi-pick-list>
                </lightning-layout-item>

                <!-- NEW:INTXI -->
                <template for:each={selectables} for:item="item">
                  <lightning-layout-item key={item.label} flexibility="auto, no-grow" padding="around-small">
                    <c-als_multi-pick-list
                      label={item.label}
                      options={item.options}
                      showfilterinput="true"
                      showclearbutton="true"
                      limitselection={item.maxSelectedItems}
                      onitemselected={multiPicklistChanged}>
                    </c-als_multi-pick-list>
                  </lightning-layout-item>
                </template>

                <lightning-layout-item flexibility="auto, no-grow" padding="around-small" style="margin-top:24px;">
                  <lightning-button-icon icon-name="action:reset_password" class="slds-float_right"
                    alternative-text="Actualizar calendario" onclick={refreshCalendar} title="Actualizar calendario">
                  </lightning-button-icon>
                </lightning-layout-item>   
                <lightning-layout-item flexibility="auto, no-grow" padding="around-small" alignment-bump="right" style="margin-top:24px;">
                  <lightning-button-icon icon-name={cloneIcon} class="slds-float_right" label="Clonar eventos"
                    alternative-text={cloneTitle} onclick={toggleIsCloneActivated} title={cloneTitle}></lightning-button-icon>
                </lightning-layout-item>
              </lightning-layout>
            </template>
          </lightning-layout>
        </lightning-layout-item>

        <template if:true={showLegendSection}>
          <lightning-layout-item padding="around-x-small" size={legendSize}>
            <lightning-layout multiple-rows>
              <lightning-layout-item size="12" padding="around-small">
                <div onclick={showLegendMethod} class="slds-page-header cursor-pointer">
                  <!-- standard:lead_list -->
                  <lightning-icon icon-name="utility:list" style="margin-right: 12px; margin-bottom: 5px;" size="x-small"
                  alternative-text={legend} title="Leyenda"></lightning-icon>
                  <b>{legend}</b>
                  <lightning-icon icon-name={legendIcon} style="padding-left: 12px; padding-bottom: 5px;" size="xx-small"
                    alternative-text="Mostrar leyenda" title="Mostrar Leyenda"></lightning-icon>
                </div>
              </lightning-layout-item>
              <template if:true={showLegend}>
                <lightning-layout-item padding="around-small" size="12">
                  <lightning-layout multiple-rows="true">
                    <template for:each={chartLegendList} for:item="legend">
                      <lightning-layout-item key={legend.id} size={legendSize} padding="around-small">
                        <lightning-badge class={legend.id} label={legend.label} style="display: block; text-align: center; font-size:10px;"></lightning-badge> 
                      </lightning-layout-item>
                    </template>              
                  </lightning-layout>
                </lightning-layout-item>
              </template>
            </lightning-layout>
          </lightning-layout-item>
        </template>
      </lightning-layout>
      <div class="slds-p-around_medium">
        <hr>
      </div>

      <div class="slds-p-around_small slds-scrollable_x">
        <div class="spinner slds-hide">
          <lightning-spinner alternative-text="Loading" size="medium" variant="brand" ></lightning-spinner>
        </div>
        <br/>
        <div class="fillAgendas" lwc:dom="manual"></div>
      </div>
    </lightning-card>

    <template if:true={createEvent}>
      <div class="demo-only demo-only_viewport">
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
          <div class="modalSpinner slds-hide">
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
          </div>
          <div class="slds-modal__container">
            <header class="slds-modal__header" style="padding: initial;">            
              <div class="eventTitle" style="width:100%; height:10px;"></div>              
              <lightning-card>
                <slot name="title" >
                  <lightning-layout vertical-align="center">
                    <lightning-layout-item size="6">
                      <img src={logo} alt="logo" width="150" style="float: left; padding-left: 20px;"></img>
                    </lightning-layout-item>
                  </lightning-layout>             
                </slot>
              </lightning-card>
            </header>
            <div class="slds-modal__content content_createEvent slds-p-around_medium" >
              <c-als_create-event_-simple start-date={selectedHour} end-date={endDate} main-agenda={userSelectedRow} oncompletemodal={showSaveButton} 
                onsuccessfullycreated={createdEvent} fields={fields}>
              </c-als_create-event_-simple>
            </div>
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_brand button1" onclick={hideCreateEvent} >
                Cerrar
              </button>
              <lightning-button variant="brand" label="Guardar" title="Create Event buttom" onclick={handleClickSave}
                disabled={hideSaveButton} class="slds-m-left_x-small" ></lightning-button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
  </template>
  <!-- SHOW EVENT INFO ON EVENT CLICK -->
  <c-als_calendar-event-info class="info" event-id={clickedEventId} header={headerEventInfo}></c-als_calendar-event-info>
  <!-- SHOW CONFIRMATION PROMPT ON EVENT MOVE/RESIZE -->
  <c-als_calendar-event-info class="move">
    <div slot="header" style="text-align: center;">
      {headerModifyEvent}
    </div>
    <!-- <p class="slds-m-top_x-small">Are you sure you want to modify this appointment?</p> -->
    <p class="slds-m-top_x-small">{bodyModifyEvent}</p>
    <div slot="footer">
      <lightning-button
        style="padding-right: 10px;"
        icon-name="utility:close"
        variant="destructive"
        title="cancel"
        label={cancelButtonLabel}
        onclick={cancelReschedule}>
      </lightning-button>
      <lightning-button
        icon-name="utility:check"
        variant="brand"
        title="confirm"
        label={acceptButtonLabel}
        onclick={handleEventDrop}>
      </lightning-button>
    </div>
  </c-als_calendar-event-info>
</template>