.fc-content {
  font-size: 12px;
}

.fc-timeline .fc-divider {
  width: 3px;
  border-style: double;
}

.fullcalendarjs {
  max-width: auto;
  margin: 10px auto;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.fc-license-message {
  display: none;
}

.fc-timeline td:first-child {
  height: 40px;
}

.fc-event {
  min-height: 30px !important;
  border: 0.5px solid;
}

.content_createEvent {
  height: 500px;
}

.cursor-pointer {
  cursor: pointer;
}