<template>
    <lightning-card  >
        <h3 slot="title" class="slds-list_horizontal">
            <div >
                <img src={myGIF} style="width:50px;">
            </div>
            <div class="slds-p-left_small slds-p-top_medium" style="font-size: 16px;">
                <b> Próximas citas agendadas {selectedDateLabel} - </b>{date}
            </div>
        </h3>
        <div slot="actions">
            <lightning-button-icon icon-name="action:reset_password"
                alternative-text="Actualizar citas" onclick={refreshAppointments} title="Actualizar citas">
              </lightning-button-icon>
            <lightning-button class="slds-p-left_small" icon-name="utility:filterList" label="Filtrar"
                variant="brand"  onclick={showFiltersPanel}></lightning-button>
                <template if:true={showFilters} >
                        <section aria-describedby="dialog-body-id-14" aria-label="My Favourites" class="slds-popover slds-nubbin_top-right slds-dynamic-menu" role="dialog" style="position:absolute;right:0.5rem;top:70px">
                            <div class="slds-popover__body slds-p-horizontal_none" id="dialog-body-id-14">
                                <div class="slds-media">
                                    <div class="slds-media__body">
                                        <div id="listbox-unique-id" role="listbox">
                                            <ul class="slds-listbox slds-listbox_vertical slds-dropdown_length-10" role="group" aria-label="My Favorites">
                                                <li role="presentation" class="slds-listbox__item">
                                                    <div class="slds-media slds-listbox__option slds-listbox__option_plain" role="presentation">
                                                        <lightning-icon icon-name="utility:filterList" size="x-small" alternative-text="Filtros" ></lightning-icon>
                                                        <h3 class="slds-listbox__option-header slds-p-left_x-small" role="presentation">Filtros de listado de citas disponibles</h3>
                                                    </div>
                                                </li>
                                                <li role="presentation" class="slds-listbox__item">
                                                    <div id="listbox-option-id-52" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" tabindex="0">
                                                        <span class="slds-media__body">
                                                            <lightning-radio-group 
                                                                name="radioGroup"
                                                                label="Mostrar citas:"
                                                                options={options}
                                                                value={selectedFilter}
                                                                onchange={handleChange}
                                                                type="radio">
                                                            </lightning-radio-group>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                </template>
        </div>
        <template if:true={loaded}>
            <lightning-layout class="slds-p-horizontal_x-large" multiple-rows=true>
                <lightning-layout-item size="12" >
                    <template if:true={showAppointments} >
                        <ul class="slds-timeline">
                            <template for:each={scheduledAppointments} for:item="evt">
                                <template if:true={evt.appointment.WhatId} >
                                    <li key={evt.appointment.Id} class="slds-p-around_small slds-has-divider_bottom">
                                        <c-ahc_appointments-timeline-card subject={evt.appointment.Subject} patient-link={evt.patientLink} doctor-link={evt.doctorLink} link={evt.appointmentLink} 
                                        appointment-date-time={evt.appointment.StartDateTime} status={evt.appointment.ALS_EventStatus__c} pending-time={evt.pendingTime}  patient={evt.appointment.What.Name} is-lead="Paciente"  doctor={evt.appointment.ALS_MainAgenda__r.Name}  
                                        location={evt.appointment.ALS_EventLocation__c} payment={evt.appointment.ALS_RelatedPayment__c} paid={evt.paidAppointment} record-id={evt.appointment.WhatId} appointment-type={evt.appointment.RecordType.Name} ></c-ahc_appointments-timeline-card>
                                    </li>
                                </template>
                                <template if:false={evt.appointment.WhatId} >
                                    <li key={evt.appointment.Id} class="slds-p-around_small slds-has-divider_bottom">
                                        <c-ahc_appointments-timeline-card subject={evt.appointment.Subject} patient-link={evt.patientLink} doctor-link={evt.doctorLink} link={evt.appointmentLink} 
                                        appointment-date-time={evt.appointment.StartDateTime} status={evt.appointment.ALS_EventStatus__c} pending-time={evt.pendingTime}  patient={evt.appointment.Who.Name} is-lead="Paciente potencial" doctor={evt.appointment.ALS_MainAgenda__r.Name}  
                                        location={evt.appointment.ALS_EventLocation__c} payment={evt.appointment.ALS_RelatedPayment__c} paid="true" record-id={evt.appointment.WhatId} appointment-type={evt.appointment.RecordType.Name} ></c-ahc_appointments-timeline-card>
                                    </li>
                                </template>
                            </template>
                        </ul>
                        <c-ahc_paginator-footer onprevious={previousHandler2} onnext={nextHandler2} onselected={changeHandler2} onfirstpage={firstpagehandler} onlastpage={lastpagehandler} total-pages={totalPages} records-size={recordsSize} page={page}
                        disable-next={disableNext} disable-prev={disablePrev} page-size={page_size} disable-first={disableFirst} disable-last={disableLast}></c-ahc_paginator-footer>
                    </template>
                    <template if:false={showAppointments} >
                        <div class="slds-align_absolute-center">
                            <h2 class="slds-p-around_large slds-text-heading_medium">No hay citas pendientes para el día seleccionado - {date}</h2>
                        </div>
                    </template>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <template if:false={loaded}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
    </lightning-card>
</template>