.THIS.surveyBackground{
    background-image: url('/resource/adessoBackground') !important; 
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
}