<template>
    <lightning-card icon-name={iconName} title={title}>
        <div class="slds-m-around_medium">
            <lightning-input type="search" placeholder={placeHolder} class="slds-m-bottom_small" value={searchKey}
                            label={label} onchange={handleKeyUp}>
            </lightning-input>
            <div class="slds-m-around_medium">
                <b>{displayRecordsLabel}</b> {totalRecountCount}
            </div>
            <div class="slds-m-around_medium" style="min-height: 50px;">
                <lightning-datatable key-field="Id" data={data} columns={columns} onrowselection={selectedRowsHandler}>
                </lightning-datatable>
            </div>
            </br>
            <lightning-layout horizontal-align="space">
                <lightning-layout-item flexibility="auto">
                    <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={previousHandler}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto">
                    Page {page} of {totalPage}
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto">
                    <lightning-button disabled={nextUnavailable} label="Next" icon-name="utility:chevronright" icon-position="right"
                        onclick={nextHandler}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <!-- Spinner -->
       <div if:true={showLoadingSpinner}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </div>
    </lightning-card>        
</template>