.roundImg{
    border-radius: 50%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.roundImg:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cardContainer{
    background-color: rgba(186, 232, 240, 0.479); 
    border-radius: 10px; 
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}