<template>
    <div class="slds-box slds-p-around_medium cardContainer" >
        <div class="slds-media">
            <div class="slds-media__figure slds-var-p-left_x-small slds-var-p-top_xx-small">
                <img class="roundImg" aria-hidden="true" src={photoUrl} width="90" height="auto" />
            </div>
            <div class="slds-media__body slds-p-left_large slds-p-top_small">
                <div class="slds-grid slds-grid_align-spread">
                    <div class="slds-grid slds-grid_vertical-align-center slds-container_large slds-no-space">
                        <h2 class="slds-text-heading_small">
                            <a href={link} target="_blank">
                                <strong>{subject}</strong>
                            </a>  
                        </h2>
                    </div>
                    <div class="slds-timeline__actions slds-timeline__actions_inline">
                        <ul class="slds-list_horizontal slds-has-dividers_right slds-has-block-links slds-m-horizontal_xx-small">
                            <li class="slds-item">
                                <lightning-badge icon-name="utility:event" style="background-color: rgb(121, 120, 120); color: white;" label="Agendada"></lightning-badge>
                            </li>
                            <li class="slds-item">
                                <lightning-badge label={screenDate}></lightning-badge>
                            </li>
                            <li class="slds-item">
                                <lightning-badge style="background-color: rgb(121, 120, 120); color: white;" icon-name="utility:clock" label={pendingTime}></lightning-badge>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slds-p-top_medium" >
                    <template if:false={paid} >
                        <div class="slds-m-top_medium" style="float: right;">
                            <lightning-button style="float: right;" variant="brand" label="Registrar pago" title="pago" icon-name="utility:package_org" onclick={openModal}></lightning-button>
                        </div>
                    </template>
                    <ul class="slds-list_horizontal slds-has-dividers_right slds-has-block-links slds-m-horizontal_xx-small slds-m-bottom_x-small">
                        <li class="slds-item">
                            <b>Paciente: </b> <a class="slds-m-left_x-small" href={patientLink} target="_blank">{patient}</a>
                        </li>
                        <li class="slds-item">
                            <b>Agenda:</b> <a class="slds-m-left_x-small" href={doctorLink} target="_blank">{doctor}</a>
                        </li>
                    </ul>

                    <ul class="slds-list_horizontal slds-has-dividers_right slds-has-block-links slds-m-horizontal_xx-small">
                        <li class="slds-item">
                            <b>Ubicación: </b> <p class="slds-m-left_x-small">{location}</p>
                        </li>
                        <li class="slds-item">
                            <lightning-badge class="slds-m-horizontal_small" style="color: white; background-color: #54698d" label={isLead}></lightning-badge>
                            <lightning-badge class="slds-m-horizontal_small" icon-name="utility:target" style="color:white; background-color: #0176d3" label={appointmentType}></lightning-badge>
                            <template if:false={paid} >
                                <lightning-badge class="slds-m-horizontal_small" style="background-color: rgb(221, 224, 45);" label="Pago pendiente"></lightning-badge>
                            </template>
                            <template if:true={paid} >
                                <lightning-badge class="slds-m-horizontal_small" icon-name="utility:check" style="color: white; background-color: rgb(92, 206, 101);" label="Pago realizado"></lightning-badge>
                            </template> 
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="modalSpinner slds-hide">
                <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
            </div>
            <div class="slds-modal__container">
                <header class="slds-modal__header" style="padding: initial;">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <div style="background-color:rgb(60, 124, 185); width:100%; height: 10px;"></div> 
                    <div class="slds-p-around_large slds-align_absolute-center" >
                        <h2 class="slds-text-heading_medium">Registrar pago de cita</h2>
                    </div>          
                </header>
                <div class="slds-modal__content slds-p-around_medium" style="height: 400px;" id="modal-content-id-1">
                        <lightning-record-edit-form record-id={payment}
                                                    object-api-name="Payment__c"
                                                    onsuccess={handleSuccess}>
                            <lightning-messages>
                            </lightning-messages>
                            <lightning-layout multiple-rows>
                                <lightning-layout-item size="6" padding="around-small" >
                                    <lightning-output-field field-name="RelatedAccount__c">
                                    </lightning-output-field>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small" >
                                    <lightning-input-field field-name="Amount__c">
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small" >
                                    <lightning-input-field field-name="PaymentMethod__c">
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small" >
                                    <lightning-input-field field-name="Status__c">
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small" >
                                    <lightning-input-field field-name="PaymentDate__c" value={paymentDate}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small" >
                                    <lightning-input-field field-name="Comments__c">
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </lightning-layout>
                            <div class="slds-p-around_medium slds-align_absolute-center" >
                                <lightning-button
                                    class="slds-p-right_small"
                                    variant="brand-outline"
                                    icon-name="utility:close"
                                    name="cancel"
                                    label="Cancelar"
                                    onclick={closeModal}>
                                </lightning-button>
                                <lightning-button
                                    variant="brand"
                                    icon-name="utility:package_org"
                                    type="submit"
                                    name="update"
                                    label="Registrar pago">
                                </lightning-button>
                            </div>
                        </lightning-record-edit-form>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>