<template>
  <div>
    <div class="iframe-wrapper">
      <iframe src={vfAddress}></iframe>
    </div>
    <footer>
      <div class="footer-wrapper">
        <lightning-button disabled={_isProcessing} icon-name="utility:email" label="Guardar y enviar" variant="brand" onclick={sendQuotation}></lightning-button>
        <lightning-button disabled={_isProcessing} icon-name="utility:save" label="Guardar" variant="neutral" onclick={saveQuotation}></lightning-button>
      </div>
    </footer>
  </div>
</template>