<template>
    <lightning-card  variant="Narrow"  title="Cargador de archivos paciente" icon-name="standard:file">
        <div class="slds-align_absolute-center slds-p-around_large" style="height:150px;">
            <lightning-file-upload
                label="Adjunte los archivos que desea asociar al paciente:"
                name="fileUploader"
                accept=".csv,.doc,.xsl,.pdf,.png,.jpeg,.jpg"
                record-id={recordId}
                onuploadfinished={handleUploadFinished}
                multiple>
            </lightning-file-upload>
        </div>
    </lightning-card>
</template>