<template>
    <lightning-layout multiple-rows=true>
        <lightning-layout-item size="12">
            <lightning-card class="slds-m-bottom_small">
                <h3 slot="title" class="slds-list_horizontal">
                <template if:true={iconName}>
                    <lightning-icon icon-name={iconName} alternative-text="Icon" ></lightning-icon>
                </template>
                <template if:false={iconName}>
                    <lightning-dynamic-icon type={dynamicIconType} option="play" alternative-text="Recording in progress">
                    </lightning-dynamic-icon>
                </template>
                    <div class="slds-p-left_small" style="font-size: 18px; text-align: center !important;">
                        <b> {panelTitle} </b>- {panelSubtitle}
                    </div>
                </h3>
            </lightning-card>
        </lightning-layout-item>
    </lightning-layout>
</template>