<template>
  <div class="slds-form-element">
    <template if:true={label}>
      <label class="slds-form-element__label" for="star-group">
        <abbr if:true={required} class="slds-required" title="required">* </abbr>{label}
      </label>
    </template>
    <div name="star-group" class="slds-form-element__control">
      <template for:each={_starArray} for:item="star" id={label}>
        <button key={star.value}
          data-value={star.value}
          class="star"
          style={_starStyle}
          onclick={handleStarClicked}>
          {star.label}
        </button>
      </template>
    </div>
    <template if:false={_isValid}>
      <span class="slds-required">{messageWhenValueMissing}</span>
    </template>
  </div>
</template>