button.star {
  display: inline-block;
  font-size: clamp(1.5rem, 10vw, 3rem);
  background: none;
  border: none;
  padding-inline: min(1vw, 0.5rem);
  padding-block: 0px;
  margin: 0px;
}

button.star:hover {
  text-shadow: 0px 0px 5px;
}

@media(max-width: 380px){
  button.star {
    display: inline-block;
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    background: none;
    border: none;
    padding-inline: min(0.1vw, 0.1rem);
    padding-block: 0px;
    margin: 0px;
  }
}
@media(min-width: 381px) and (max-width: 760px){
  button.star {
    display: inline-block;
    font-size: clamp(1.5rem, 9vw, 3rem);
    background: none;
    border: none;
    padding-inline: 0.1rem;
    padding-block: 0px;
    margin: 0px;
  }
}