<template>
  <div>
    <template if:false={wasValidated}>
      <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <template if:true={wasValidated}>
      <template if:true={_isValidated}>
        <div class="iframe-wrapper">
          <iframe src={vfAddress}></iframe>
        </div>
      </template>
      <template if:false={_isValidated}>
        <div class="custom-error slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light" role="status">
          <div class="slds-align_absolute-center">
            <div class="slds-media__figure slds-p-around_medium">
              <span class="slds-icon_container slds-icon-utility-error" title="errorrmation">
                <span class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                  <lightning-icon icon-name="utility:error"></lightning-icon>
                </span>
                <span class="slds-assistive-text">error</span>
              </span>
            </div>
            <span class="custom_text slds-media__body">
              Esta intervención no tiene un paciente asociado
            </span>
          </div>
        </div>
      </template>
    </template>
    <footer>
      <div class="footer-wrapper">
        <lightning-button disabled={_isProcessing} icon-name="utility:email" label="Guardar y enviar" variant="brand" onclick={sendQuotation}></lightning-button>
        <lightning-button disabled={_isProcessing} icon-name="utility:save" label="Guardar" variant="neutral" onclick={saveQuotation}></lightning-button>
      </div>
    </footer>
  </div>
</template>