<template>
    <div class="slds-p-top_small">
        <lightning-layout>
            <lightning-layout-item padding="horizontal-small"> 
                <lightning-button label="Primera página" disabled={disableFirst} icon-name="utility:arrow_left" onclick={FirstPageHandler1}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item >
                <lightning-button variant="brand-outline" disabled={disablePrev} data-id="Previous" label="Anterior" icon-name="utility:chevronleft" onclick={previousHandler1}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item flexibility="grow">
                <ul class="slds-list_horizontal slds-has-dividers_right slds-m-horizontal_medium slds-align_absolute-center">
                    <li class="slds-item">
                        Mostrando {recordsSize} citas
                    </li>
                    <li class="slds-item">
                        Página {page} de {totalPages}
                    </li>
                    <li class="slds-item">
                        <p>Citas por página - {pageSize}</p>
                    </li>
                    <li class="slds-item">
                        <select class="slds-select slds-p-horizontal_small" name = "optionSelect" onchange={changeHandler} >
                            <option value="">--</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select> 
                    </li>
                </ul>  
            </lightning-layout-item>    
            <lightning-layout-item>
                <lightning-button variant="brand" label="Siguiente" disabled={disableNext} icon-name="utility:chevronright" icon-position="right" onclick={nextHandler1}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small">
                    <lightning-button label="Última página" disabled={disableLast} icon-name="utility:arrow_right" icon-position="right" onclick={LastPageHandler1}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>