<template>
  <template if:true={showModal}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
        aria-modal="true" aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close"
            icon-class="slds-button_icon-inverse" onclick={handleDialogClose}></lightning-button-icon>

          <template if:true={hasHeaderString}>
            <h2 class="slds-text-heading_medium slds-hyphenate header-string">
              {header}
            </h2>
          </template>
          <template if:false={hasHeaderString}>
            <!-- If you don't set the header public property, make sure to 
                        pass in some content into the header slot, so that the component
                        is accessible, as empty headings are considered not accessible. -->
            <h2 class="slds-text-heading_medium slds-hyphenate header-slot">
              <slot name="header"></slot>
            </h2>
          </template>

          <p class="slds-m-top_x-small modal-hidden">
            <slot name="tagline" onslotchange={handleSlotTaglineChange}></slot>
          </p>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          <slot>
            <template if:true={_event}>
              <div>
                <span class="field-name">{labelAccount}:&nbsp;</span>
                {account.Name}
              </div>
              <div>
                <span class="field-name">{labelSubject}:&nbsp;</span>
                {_event.Subject}
              </div>
              <div>
                <span class="field-name">{labelSpecialty}:&nbsp;</span>
                {_event.ALS_Specialty__c}
              </div>
            </template>
          </slot>
        </div>

        <footer class="slds-modal__footer modal-hidden">
          <slot name="footer" onslotchange={handleSlotFooterChange}>
            <lightning-button
              label={labelCancelButton}
              icon-name="utility:close"
              accesskey="ESC"
              variant="destructive"
              onclick={handleDialogClose}
              class="slds-p-horizontal_x-small">
            </lightning-button>
            <lightning-button
              label={labelAcceptButton}
              icon-name="action:record"
              variant="neutral"
              onclick={handleGoToRecord}
              class="slds-p-horizontal_x-small">
            </lightning-button>
          </slot>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>