<template>
  <div class="slds-p-around_x-large">
    <lightning-card title="Survey Invitation" icon-name="standard:survey">
      <div slot="actions">
        <lightning-button
          label="Get Link"
          icon-name="utility:link"
          onclick={handleGenerateLink}
          type="submit"
          variant="neutral"
          disabled={_generateLinkDisabled}>
        </lightning-button>
      </div>
      <lightning-record-edit-form
        object-api-name="SurveyTaker__c"
        onsuccess={handleFormSuccess}
        onerror={handleFormError}
        columns="1"
        mode="EDIT">
        <template if:false={_submitted}>
          <lightning-messages></lightning-messages>
          <lightning-input-field field-name="Account__c" value={_accountId}></lightning-input-field>
          <lightning-input-field field-name="Survey__c"></lightning-input-field>
        </template>
      </lightning-record-edit-form>
      <template if:true={_submitted}>
        <div class="slds-align_absolute-center">
          <button title="Copy link" class="copy-button slds-button slds-button_outline-brand" onclick={copyUrl}>
            <lightning-icon class="copy-icon" icon-name={_copyIcon} variant={_copyIconVariant} size="small"></lightning-icon>
            &nbsp;
            <input disabled class="result-url" type="Url" value={_surveyUrl}></input>
          </button>
        </div>
      </template>
      <hr>
      <lightning-layout multiple-rows horizontal-align="spread" vertical-align="center">
        <lightning-layout-item padding="around-small" size="12" medium-device-size="6">
          <label for="orgwide" class="slds-form-element__label">
            <lightning-icon
              icon-name="utility:email"
              alternative-text="org-wide address"
              size="x-small">
            </lightning-icon>
            &nbsp;
            From: Org Wide Address
          </label>
          <lightning-combobox
            name="orgwide"
            variant="label-hidden"
            placeholder="Select address"
            options={_orgWideEmailChoices}
            value={_selectedOrgWideEmail.value}
            onchange={handleOrgWideEmailSelected}>
          </lightning-combobox>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small" size="12" medium-device-size="6">
          <lightning-input readonly type="email" value={_selectedOrgWideEmail.address}></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small" size="12" medium-device-size="6">
          <label for="field" class="slds-form-element__label">
            <lightning-icon
              icon-name="utility:email"
              alternative-text="email"
              size="x-small">
            </lightning-icon>
            &nbsp;
            To: Email field
          </label>
          <lightning-combobox required
            name="field"
            variant="label-hidden"
            placeholder="Select email field"
            options={_fieldChoices}
            value={_emailField}
            onchange={handleFieldSelected}>
          </lightning-combobox>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small" size="12" medium-device-size="6">
          <lightning-input readonly type="email" value={_emailFieldValue}></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small" size="12" medium-device-size="12">
          <label for="template" class="slds-form-element__label">
            <lightning-icon
              icon-name="utility:insert_template"
              alternative-text="email"
              size="x-small">
            </lightning-icon>
            &nbsp;
            Email template
          </label>
          <lightning-combobox required
            name="template"
            variant="label-hidden"
            placeholder="Select email template"
            options={_templateChoices}
            value={_selectedTemplate}
            onchange={handleTemplateSelected}>
          </lightning-combobox>
        </lightning-layout-item>
      </lightning-layout>
      <div slot="footer">
        <lightning-button
          label="Send"
          icon-name="utility:send"
          icon-position="right"
          onclick={handleSendMail}
          type="submit"
          variant="brand"
          disabled={_sendDisabled}>
        </lightning-button>
      </div>
    </lightning-card>
  </div>
</template>