.custom-success {
  background-color: rgba(170, 228, 170, 0.938);
  margin:20px auto;
  padding: 40px;
  position:relative;
  border-radius:5px;
  box-shadow: 0 0 10px 5px #ccc;
  border-left: 5px solid rgb(72, 140, 72);
}
.custom-info {
  background-color: #ecdd9b;
  margin:20px auto;
  padding: 40px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 10px 5px #ccc;
  border-left: 5px solid #ccb908;
}

.custom-error {
  background-color: rgb(230, 124, 105);
  margin:20px auto;
  padding: 40px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 10px 5px #ccc;
  border-left: 5px solid rgb(204, 54, 28);
}
.global-container {
  transition: transform .3s;
}
.custom-text {
  font-weight: bold;
  font-size: 16px;
}

@media(max-width: 380px){
  .custom-text {
    font-weight: normal;
    font-size: 10px;
  }
  .custom-success {
    margin:5px auto;
    padding: 5px;
    border-left: 2px solid rgb(72, 140, 72);
  }
  .custom-info {
    margin:5px auto;
    padding: 5px;
    border-left: 2px solid #ccb908;
  }
  
  .custom-error {
    margin: 5px auto;
    padding: 5px;
    border-left: 2px solid rgb(204, 54, 28);
  }
}
@media(min-width: 381px) and (max-width: 720px){
  .custom-text {
    font-weight: bold;
    font-size: 12px;
  }
  .custom-success {
    margin: 10px auto;
    padding: 10px;
    border-left: 4px solid rgb(72, 140, 72);
  }
  .custom-info {
    margin: 10px auto;
    padding: 10px;
    border-left: 4px solid #ccb908;
  }
  
  .custom-error {
    margin: 10px auto;
    padding: 10px;
    border-left: 4px solid rgb(204, 54, 28);
  }
}

@media(min-width: 721px) and (max-width: 1024px){
  .custom-text {
    font-weight: bold;
    font-size: 14px;
  }
  .custom-success {
    margin: 15px auto;
    padding: 20px;
    border-left: 5px solid rgb(72, 140, 72);
  }
  .custom-info {
    margin: 15px auto;
    padding: 20px;
    border-left: 5px solid #ccb908;
  }
  
  .custom-error {
    margin: 15px auto;
    padding: 20px;
    border-left: 5px solid rgb(204, 54, 28);
  }
}