<template>

    <template if:true={showConfirmation}>
        <div class="custom-success slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light"
            role="status">
            <div class="global_container slds-align_absolute-center">
                <div class="slds-media__figure slds-var-p-around_medium">
                    <span class="slds-icon_container slds-icon-utility-info" title="information">
                        <span class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                            <lightning-icon icon-name="utility:success" alternative-text="Success"></lightning-icon>
                        </span>
                        <span class="slds-assistive-text">confirmation</span>
                    </span>
                </div>
                <span class="custom-text slds-media__body">
                    {sendSuccess}
                </span>
            </div>
        </div>
    </template>

    <template if:true={showInformation}>
       <div style={_brandColor}
            class="custom-info slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light"
            role="status">
            <div class="global_container slds-align_absolute-center">
              <div class="slds-media__figure slds-var-p-around_mediumdium">
                  <span class="slds-icon_container slds-icon-utility-info" title="information">
                      <span class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                          <lightning-icon icon-name="utility:info" alternative-text="Answered"></lightning-icon>
                      </span>
                      <span class="slds-assistive-text">info</span>
                  </span>
              </div>
              <span class="custom-text slds-media__body">
                  {alreadyAnswered}
              </span>
          </div>
        </div>
    </template>

    <template if:true={showError}>
        <div class="custom-error slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light"
            role="status">
            <div class="global_container slds-align_absolute-center">
                <div class="slds-media__figure slds-var-p-around_medium">
                    <span class="slds-icon_container slds-icon-utility-info" title="information">
                        <span class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                            <lightning-icon icon-name="utility:error" alternative-text="Error"></lightning-icon>
                        </span>
                        <span class="slds-assistive-text">error</span>
                    </span>
                </div>
                <span class="custom-text slds-media__body">
                    {_errorMessage}
                </span>
            </div>
        </div>
    </template>

</template>