<template>
    <lightning-layout multiple-rows=true horizontal-align="space">
        <lightning-layout-item size="12">
            <lightning-card class="slds-m-bottom_small">
                <h3 slot="title" class="slds-list_horizontal">
                    <lightning-dynamic-icon type="ellie">
                    </lightning-dynamic-icon>
                    <div class="slds-p-left_small" style="font-size: 18px; text-align: center !important;
                      font-family: 'Ubuntu',sans-serif !important; color: #002c55 !important;">
                        <b>Acciones disponibles</b>
                    </div>
                </h3>
            </lightning-card>
        </lightning-layout-item>
        <lightning-layout-item size="12" class="slds-p-top_x-small">
            <lightning-layout multiple-rows=true vertical-align="center">
                <lightning-layout-item size="6" padding="horizontal-small">
                    <lightning-button label="Consultar agendas" icon-name="utility:event" size="small" variant="brand-outline"
                        onclick={navigateAgenda}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="horizontal-small">
                    <lightning-button label="Formulario Web" icon-name="utility:desktop_and_phone" size="small" variant="brand-outline"
                        onclick={navigateForm}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="6" class="slds-p-top_x-small" padding="horizontal-small">
                    <lightning-button label="Nuevo paciente" onclick={createAccount} icon-name="utility:adduser" size="small"
                        variant="brand-outline" >
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="6" class="slds-p-top_x-small" padding="horizontal-small">
                    <lightning-button label="Nuevo presupuesto" icon-name="utility:display_text" size="small" variant="brand-outline"
                        onclick={navigateForm}>
                    </lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>
    </lightning-layout>
    <template if:true={showModal}>
        <div class="demo-only demo-only_viewport">
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open"
                aria-labelledby="id-of-modalheader-h2" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="slds-modal__container">
                    <div class="slds-modal__content" style="height:400 px;padding:10px;">
                        
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_brand button1"
                            onclick={closeModal}>Cerrar</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>