<template>
    <template if:true={initialize}>
        <template if:false={activateTabSection}> 
            <c-als_calendar-by-agenda calendar={calendar}></c-als_calendar-by-agenda>
        </template>
        <template if:true={activateTabSection}> 
            <div class="slds-p-around_medium">
                <lightning-tabset variant={variant}>
                    <template for:each={calendarTab} for:item="conf">
                        <lightning-tab icon-name={conf.iconName} key={conf.key} label={conf.label}>
                            <c-als_calendar-by-agenda calendar={conf.id}></c-als_calendar-by-agenda>
                        </lightning-tab>
                    </template>
                </lightning-tabset>
            </div>
        </template>
    </template>    
</template>