.questions-wrapper {
  padding: 3em 10em;
  border-radius: 0.4em;
  box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
  min-height: 350px;
}
.background-wrapper {
  padding: 15em 20em;
  border-radius: 0.3em;
}
.question-label {
  margin-top: 1rem;
  font-size: 120%;
  font-weight: bold;
  /* font-weight:; */
}
.question {
  margin-top: 1rem;
}
.launch-button {
  margin-top: 4rem;
  text-align: center;
}
.send-button {
  margin-top: 1.5rem;
  text-align: center;
}
.subordinate {
  margin-top: 0.2rem;
  margin-left: 10%;
  animation-name: animate-textarea;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.logo-wrapper {
  margin: auto;
  padding-bottom: 0.8em;
  text-align: center;
  max-width: 50%;
  min-width: 150px;
}
.welcome-wrapper {
  margin: auto;
  padding: 2em;
  text-align: center;
  max-width: 80%;
  min-width: 150px;
}
.message-wrapper {
  width: 80%; 
  padding: 2em 1em;
}
@keyframes animate-textarea {
  0% {
      opacity: 0%;
      max-width: 0%;
  }
  100% {
      opacity: 1;
      max-width: 100%;
  }
}
@media(max-width: 380px){
  .questions-wrapper {
    padding: 0.8em;
    border-radius: 0.4em;
    box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
    min-height: 350px;
  }
  .welcome-wrapper {
    margin: auto;
    padding: 0.8em;
    text-align: center;
    max-width: 80%;
  }
  .background-wrapper {
    padding: 0.5em;
    border-radius: 0.3em;
  }
  .question-label {
    margin-top: 1rem;
    font-size: 100%;
    font-weight: bold;
    /* font-weight:; */
  }
  .logo-wrapper {
    margin: auto;
    padding-bottom: 0.8em;
    text-align: center;
    max-width: 50%;
  }
  .question {
    margin-top: 1em;

  }
  .send-button {
    margin-top: 1em;
    text-align: center;
  }
  .message-wrapper {
    width: 80%; 
    padding: 0.5em;
  }
}
@media(min-width: 381px) and (max-width: 720px){
  .questions-wrapper {
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
    min-height: 350px;
  }
  .logo-wrapper {
    margin: auto;
    padding-bottom: 0.8em;
    text-align: center;
    max-width: 50%;
  }
  .welcome-wrapper {
    margin: auto;
    padding: 1em;
    text-align: center;
    max-width: 80%;
  }
  .background-wrapper {
    padding: 0.8em;
    border-radius: 0.3em;
  }
  .question-label {
    margin-top: 1rem;
    font-size: 100%;
    font-weight: bold;
    /* font-weight:; */
  }
  .question {
    margin-top: 1em;
  }
  .send-button {
    margin-top: 1em;
    text-align: center;
  }
  .message-wrapper {
    width: 80%; 
    padding: 1em;
  }
}

@media(min-width: 721px) and (max-width: 1024px){
  .questions-wrapper {
    padding: 1.5em 4em;
    border-radius: 0.4em;
    box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
    min-height: 350px;
  }
  .logo-wrapper {
    margin: auto;
    padding-bottom: 0.8em;
    text-align: center;
    max-width: 50%;
  }
  .welcome-wrapper {
    margin: auto;
    padding: 1em;
    text-align: center;
    max-width: 80%;
  }
  .background-wrapper {
    padding: 4em;
    border-radius: 0.3em;
  }
  .question-label {
    margin-top: 1rem;
    font-size: 120%;
    font-weight: bold;
    /* font-weight:; */
  }
  .question {
    margin-top: 1em;
  }
  .send-button {
    margin-top: 1em;
    text-align: center;
  }
  .message-wrapper {
    width: 80%; 
    padding: 1em;
  }
}