<template>
  <div class="background-wrapper" style={_backgroundPic}>
    <div class="questions-wrapper" style={_backgroundColor}>
      <template if:true={_showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
      </template>
      <template if:true={_parsedData.headerImage}>
        <div class="logo-wrapper">
          <a href={_parsedData.headerImageLink} target="_blank">
            <img onerror={handleImgError} class="slds-align_absolute-center" src={_headerPic}></img>
          </a>
        </div>
      </template>
      <template if:false={_showError}>
        <template if:false={_surveyStarted}>
          <div class="welcome-wrapper">
            <template if:true={_parsedData.welcomeMessage}>
              <lightning-formatted-rich-text value={_parsedData.welcomeMessage}></lightning-formatted-rich-text>
            </template>
            <div class="launch-button">
              <lightning-button variant="brand" style={_buttonStyle} label={_launchButtonLabel} title={_launchButtonLabel} onclick={startSurvey}>
              </lightning-button>
            </div>
          </div>
        </template>
        <template if:true={_surveyStarted}>
          <template if:true={_showSurvey}>
            <template for:each={_componentList} for:item="cmp">
              <div key={cmp.questionId}>
                <div class="slds-form-element">
                  <label if={cmp.question} class="slds-form-element__label question-label">
                    <abbr if:true={cmp.required} class="slds-required" title="required">*&nbsp;</abbr>
                    <abbr if:false={cmp.required}>&nbsp;</abbr>
                    {cmp.question}
                  </label>
                  <template if:true={cmp.Text}>
                    <lightning-textarea class="question" label="" variant="label-hidden" data-id={cmp.questionId}
                      name={cmp.questionId} required={cmp.required} message-when-value-missing={_parsedData.valueMissing}
                      placeholder={_parsedData.textPlaceholder} max-length={_parsedData.textMaxLength}>
                    </lightning-textarea>
                  </template>
                  <template if:true={cmp.StarRating}>
                    <c-star-rating class="question" required={cmp.required} label="" data-id={cmp.questionId}
                      message-when-value-missing={_parsedData.valueMissing} color={_parsedData.starColor}
                      score-array={cmp.choices}>
                    </c-star-rating>
                  </template>
                  <template if:true={cmp.Rating}>
                    <lightning-radio-group class="question" label="" variant="label-hidden" data-id={cmp.questionId}
                      name={cmp.questionId} required={cmp.required} message-when-value-missing={_parsedData.valueMissing}
                      options={cmp.choices} type="button">
                    </lightning-radio-group>
                  </template>
                  <template if:true={cmp.Picklist}>
                    <lightning-combobox class="question" label="" variant="label-hidden" data-id={cmp.questionId}
                      name={cmp.questionId} required={cmp.required} message-when-value-missing={_parsedData.valueMissing}
                      placeholder={_parsedData.picklistPlaceholder} onchange={handlePicklistChange} options={cmp.choices}
                      dropdown-alignment="auto">
                    </lightning-combobox>
                  </template>
                  <template if:true={cmp.MultiPicklist}>
                    <lightning-dual-listbox class="question" style={_multiPicklistStyle} label="" variant="label-hidden"
                      data-id={cmp.questionId} name={cmp.questionId} required={cmp.required}
                      message-when-value-missing={_parsedData.valueMissing}
                      message-when-range-underflow={cmp.rangeUnderflow} message-when-range-overflow={cmp.rangeOverflow}
                      min={cmp.minSelections} max={cmp.maxSelections} size={cmp.visibleRows} options={cmp.choices}
                      source-label="" selected-label="">
                    </lightning-dual-listbox>
                  </template>
                  <template if:true={cmp.Picklist_Other}>
                    <lightning-combobox class="question" label="" variant="label-hidden" data-id={cmp.questionId}
                      name={cmp.questionId} required={cmp.required} message-when-value-missing={_parsedData.valueMissing}
                      placeholder={_parsedData.picklistPlaceholder} onchange={handlePicklistChange} options={cmp.choices}
                      dropdown-alignment="auto">
                    </lightning-combobox>
                    <template if:true={cmp.showTextArea}>
                      <div class="subordinate">
                        <lightning-textarea class="question" label="" variant="label-hidden" data-id={cmp.questionId}
                          name={cmp.questionId} required={cmp.required}
                          message-when-value-missing={_parsedData.valueMissing} placeholder={_parsedData.textPlaceholder}
                          max-length={_parsedData.textMaxLength}>
                        </lightning-textarea>
                      </div>
                    </template>
                  </template>
                </div>
              </div>
              <hr key={cmp.questionId}>
            </template>
            <div class="send-button">
              <lightning-button style={_buttonStyle} variant="brand" label={_parsedData.sendLabel} title="Send"
                onclick={handleSendClicked}>
              </lightning-button>
            </div>
          </template>
        </template>
      </template>
      <div class="message-wrapper slds-align_absolute-center">
        <c-survey-message-panel brand-color={_parsedData.brandColor} show-confirmation={_showConfirmation}
          show-information={_showInformation} show-error={_showError} send-success={_parsedData.sendSuccess}
          already-answered={_parsedData.alreadyAnswered} error-message={_parsedData.errorMessage}>
        </c-survey-message-panel>
      </div>
    </div>
  </div>
</template>