<template>
    <template if:true={flowSteps}>
            <lightning-progress-indicator current-step={currentStep} type="path" variant="base">
                <template for:each={flowSteps} for:item="step">
                    <lightning-progress-step label={step.label} value={step.value} key={step.label}></lightning-progress-step>
                </template>
            </lightning-progress-indicator>
    </template>
</template>